*
{
    margin: 0px;
    padding: 0px;
}
header
{
   position: relative;
}
header .header-top 
{
    padding: 15px 0px;
    border-bottom: 1px solid #E9E9E9;
    
}
.header-top .header-top-left
{
    display: none;
}
.header-top .login 
{
    display: none;
}
header .header-top a:hover
{
    color: black;
}
header .header-top i:hover
{
    transition: 0.4s;
    width: 25px;
    height: 25px;
    font-size: 25px;
    line-height: 25px;
}
header .header-top i:hover a.icon
{
    padding:5px 7px;
    text-align: center;
    border: 1px solid #E9E9E9;
    border-radius: 50%;
    text-align: center;
}
header .header-top a 
{
    color: gray;
    margin-left: 10px;
    text-decoration: none;
}
header .header-top a.icon
{
    border: 1px solid #E9E9E9;
    border-radius: 50%;
    padding: 5px 7px;
    text-align: center;
}
header .header-top i
{
    color: gray;
}
header .header-top a.icon i
{
    width: 20px;
    height: 20px;
}
header .header-bottom
{
               
}
header .logo
{
    padding:20px 0px;
}
header .header-bottom .student-login
{
    margin-top: 25px;
}
header .header-bottom .student-login a
{
    margin-left: 7px;
    color: #9d9d9d;
}
header .header-bottom .student-login a i
{
    color:#9d9d9d;
}
header .search
{
    margin: 10px 0px;
}
.search input[type=text]
{
    width: 250px;
    height: 26px;
    border: 1px solid rgb(209, 209, 209);
    border-top-left-radius: 2px;
    border-bottom-left-radius:2px;
    
    
}
.search input[type=submit]
{
    width: 50px;
    height: 26px;
    border: 1px solid rgb(207, 207, 207);
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    color: #9D9D9D;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: 700;
}
header .menu ul 
{
   
}
header .menu ul li
{
    list-style: none;
    display: block;
    padding:10px 0px;
    font-family: "Helvetica", sans-serif;
    text-align: center;
    position: relative;
    cursor: pointer;
    transition: color .15s linear;
}
header ul li:before {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    left: auto;
    height: 2px;
    background:  #9D9D9D;;
    width: 0;
    transition: width 0.25s linear;
  }
  header ul li:hover {
    color: #ffa400;
  }
  header ul li:hover:before {
    width: 100%;
    left: 0;
    right: auto;
  }
header .menu ul li a
{
    display: block;
    text-decoration: none;
    font-size: 15px;
    font-weight: 400;
    color: #9D9D9D;
    text-transform: uppercase;
    border-right: 1px solid #e2e0e0;
    padding:0px 20px;
    transition: 0.5s;
}
header .menu ul li a:hover
{
    color: black;
}
header .menu i
{
    width: 24px;
    height: 24px;
    font-size: 24px;
}
header .slide img
{
    height: 486px;
}
 .menu-mid
 {
     display: block;
 }
 .contain-1
{
    width: 12.5%;
    text-align: center;
}
.contain-1 p
{
    font-size: 14px;
    color: black;
}
.contain-1 img
{
    width: 20%;
    height: 28%;
}

/*css main*/
main .news-notification
{
    padding: 10px 5px;
}
main .news-notification .location
{
    padding: 12px 0px;
    background: #9D9D9D;
    font-size: 23px;
    color: white;
    margin-bottom: 20px;
}
main .news-notification .main-n-noti
{
    padding: 10px 0px;
}
main .news-notification h3.left
{
    color: #343451;
    font-size: 23px;
}
main .news-notification .menu ul li
{
    list-style: none;
    border-bottom: 1px solid black;
    margin-top: 15px;
    padding: 5px 0px;
}
main .news-notification .menu ul li a
{
    text-decoration: none;
}
main .news-notification .list-news h3
{
    color: #343451;
}
main .news-notification .list-news .news1 {
    margin-top: 15px;
    display: flex;
    border-bottom: 1px solid gray;
}
main .news-notification .list-news .news1 .title-news
{
    margin-left: 15px;
}
main .news-notification .list-news .news1 .title-news h5 a
{
    color: black;
    font-size: 22px;
    text-decoration: none;
}

#pagination ul{
	float:right;
	margin-top:20px;}
#pagination ul li a.page-link{
	color:#333333;}			
#pagination ul li a.page-link:hover{
	background:#EB1F27;
	color:#FFF;}
#pagination ul li.active a{
	background:#EB1F27;
	border-color:#dee2e6;
	color:#FFF;}
/*footer*/
footer .footer-top
{
    margin-top: 20px;
    background: #9D9D9D;
    padding: 10px 0px;

}
footer .footer-top h2
{
    color: #343451;
    font-size: 24px;
}
footer .footer-bottom
{
    background: #b8b6b6;
    padding: 25px 0px;
    color:black;
    font-size: 13px;
}
.menu-mid
{
    display: none;
}
.slide
{
    display: none;
}
.logo1
{
    display: none;
}
.logo2
{
    display: ;
}
#btn_menu
{
    display: block;
}
.menu_rp
{
    display: block;
}
.togg_rp
{
    display: none;
}